{{- define "main" -}}
  {{- with .Title -}}
    <div class="w-full text-center text-4xl"> {{ . }} </div>
  {{- end -}}
  <div class="p-4">
    {{- with .Content -}}
      {{ . }}
    {{- end -}}
    {{- if eq .Params.type "posts" -}}
      {{- range .Site.RegularPages.GroupByDate "January 2006" -}}
        {{- partial "global-list-item" . -}}
      {{- end -}}
    {{- end -}}
    {{- if eq .Params.type "project" -}}
      {{- range (.Pages.GroupByParam "version").Reverse -}}
        <div class="text-2xl"> {{ .Key }} </div>
        {{- partial "list-item" . -}}
      {{- end -}}
    {{- end -}}
    {{- if eq .Params.type "projects" -}}
      {{- range .Pages.GroupByDate "January 2006" -}}
        <div class="text-2xl"> {{ .Key }} </div>
        {{- partial "list-item" . -}}
      {{- end -}}
    {{- end -}}
    {{- if eq .Params.type "tags" -}}
      {{- partial "tag-list-item" . -}}
    {{- end -}}
  </div>
{{- end -}}
