<header class="flex justify-evenly p-4">
  <a href="/"> Home </a>
  <a href="/about"> About </a>
  <a href="/projects"> Projects </a>
  <a href="/posts"> Posts </a>
  <a href="/tags"> Tags </a>
</header>
