<div class="mt-4">
  {{- range .Pages -}} {{- if not .Params.global -}}
  <div class="flex justify-between">
    {{- if (and (isset .Params "version") (isset .Params "patch")) -}}
      <a href="{{ .RelPermalink }}"> {{ .Params.version }}.{{ .Params.patch }}: {{ .Title }} </a>
    {{- else -}}
      <a href="{{ .RelPermalink }}"> {{ .Title }} </a>
    {{- end -}}
    <span> {{ dateFormat "January 2, 2006" .Date }} </span>
  </div>
  {{- end -}} {{- end -}}
</div>
